{%extends "layout.html" %} {% block content %}
<div class="content-section">
  <form method="POST" action="{{url_for('suggest')}}">
    <div class="form-group">
      <label for="exampleInputPassword1">Undergraduate</label>
      <div class="form-group col-md-4">
        <select
          name="und"
          id="inputState"
          class="btn btn-secondary dropdown-toggle">
          <option selected>None</option>
          <option>B.E Computer Science</option>
          <option>B.E Electrical and Electronics engineering</option>
          <option>B.E Electrical and Communication engineering</option>
          <option>B.E/B.Tech Information Technology</option>
          <option>B.Sc Computer Science</option>
          <option>Bachelor Computer Application</option>

        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Post-graduate</label>
      <div class="form-group col-md-4">
        <select
          name="pnd"
          id="inputState"
          class="btn btn-secondary dropdown-toggle">
          <option>None</option>
          <option>M.E Computer Science</option>
          <option>M.Sc Computer science</option>
          <option>M.E Electrical and Electronics engineering</option>
          <option >M.E Electrical and Communication engineering</option>
          <option >M.Tech/M.E Information Technology</option>

        </select>
      </div>
    </div>
    <!-- <div class="form-group">
      <label for="exampleInputPassword1">Doctorate</label>
      <div class="form-group col-md-4">
        <select id="inputState" class="btn btn-secondary dropdown-toggle" >
          <option selected>Data Analytics</option>
          <option>Data Science</option>
        </select>
      </div>
      </div> -->
    <p><button type="submit" class="btn btn-success">Suggest</button></p>
  </form>
</div>
<h1>Levels of prediction</h1>
<ul>
  {% for level in levels %}
  <li>{{level[0]}}</li>
  {% endfor %}
</ul>
{%endblock content%}
